name: Manual Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      version:
        description: Image Version
        type: string
        required: true
      bench-name:
        description: Bench name
        type: string
        default: "erpnext-uat"
      frappe-repo:
        description: Frappe repo
        type: string
        default: "git@github.com:Techno-THT-Gmbh/citypetro-frappe.git"
      frappe-version:
        description: Frappe branch
        type: string
        default: "version-15"
      apps-json-base64:
        description: base64 encoded string of apps.json
        type: string
      dockerhub_username:
        description: Docker Hub(username)
        type: string
      dockerhub_token:
        description: Docker Hub(token)
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ inputs.dockerhub_username || secrets.DOCKERHUB_USERNAME }}
          password: ${{ inputs.dockerhub_token || secrets.DOCKERHUB_TOKEN }}

      - name: Source Build Env
        id: source-build-env
        run: |
          cat ./ci/build.env >> $GITHUB_ENV

          if [ -f ./ci/apps.json ]; then
            echo "Found ./ci/apps.json, encoding to base64..."
            echo "APPS_JSON_BASE64=$(base64 -w 0 ./ci/apps.json)" >> $GITHUB_ENV
          else
            echo "Warning: ./ci/apps.json not found. APPS_JSON_BASE64 will be empty."
            echo "APPS_JSON_BASE64=" >> $GITHUB_ENV
          fi

      - name: Check if image tag exists
        id: check_tag
        run: |
          set -e
          IMAGE="${{ secrets.IMAGE_NAME }}"
          TAG="${{ inputs.version }}"
          if curl --silent --fail -lSL "https://hub.docker.com/v2/repositories/${IMAGE}/tags/${TAG}/" > /dev/null; then
            echo "Tag ${TAG} already exists."
            echo "exists=true" >> $GITHUB_ENV
          else
            echo "Tag ${TAG} does not exist."
            echo "exists=false" >> $GITHUB_ENV
          fi

      - name: Build and push
        if: env.exists == 'false'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./images/layered/Containerfile
          push: true
          platforms: linux/amd64
          tags: ${{ secrets.IMAGE_NAME }}:${{ inputs.version }}
          build-args: |
            "FRAPPE_PATH=${{ inputs.frappe-repo }}"
            "FRAPPE_BRANCH=${{ inputs.frappe-version }}"
            "APPS_JSON_BASE64=${{ inputs.apps-json-base64 || env.APPS_JSON_BASE64 }}"
            "SSH_GIT_PRIVATE_KEY_BASE64=${{ secrets.SSH_GIT_PRIVATE_KEY_BASE64 }}"

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.VM_SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Update Docker services on VM
        run: |
          ssh \
            -p 234 \
            -o StrictHostKeyChecking=no \
            -o ServerAliveInterval=30 \
            -o ServerAliveCountMax=10 \
            ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} "
              IMAGE=${{ secrets.IMAGE_NAME }}:${{ inputs.version }}
              BENCH=${{ inputs.bench-name }}
              SERVICES=(backend frontend migration)
              UPDATED=()

              echo '[INFO] starting service updates...'

              for S in \${SERVICES[@]}; do
                UPDATED+=(\"\$S\")
                echo \"[INFO] Updating service \$S...\"

                if docker service update --image \$IMAGE \${BENCH}_\$S; then
                  echo \"[OK] Service \$S updated successfully\"
                else
                  echo \"[ERROR] Service \$S failed. Rolling back...\"
                  for R in \${UPDATED[@]}; do
                    docker service rollback \${BENCH}_\$R || true
                  done
                  exit 1
                fi
              done

              echo '[SUCCESS] All services updated successfully'
            "
