name: Deploy Service on Portainer

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image tag to deploy'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Portainer Webhook with new tag
        run: |
          echo "Redeploying service with tag $TAG..."
          curl -X POST "https://portainer.citypetro.com.vn/api/webhooks/2aebac80-8b36-4663-970d-411a1b199930?tag=$TAG"
        env:
          TAG: ${{ github.event.inputs.tag }}
